.tblHeader th {
  position: sticky;
  top: 0;
  background: teal;
}

.previous {
  float: left;
  background-color: teal;
}

.next {
  float: right;
  background-color: teal;
}

.container {
  max-height: 20em;
  overflow-y: scroll;
  overflow-x: scroll;
  outline: 1px solid dimgrey;
  outline-offset: -1px;
}

.footer {
  display: inline-block;
  padding: 10px 20px 10px 20px;
}
