<div>
  <label>Number of rows to be displayed</label>
  <input type="text" [(ngModel)]="rows" />
  <button (click)="onSetRowsToDisplay()">Set</button>
</div>

<div class="container">
  <table class="tblHeader">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Company</th>
      <th>Date Entry</th>
      <th>Organization Number</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
      <th>Geo</th>
      <th>PAN</th>
      <th>PIN</th>
      <th>Status</th>
      <th>Fee</th>
      <th>Guid</th>
      <th>Date_Exit</th>
      <th>Date_First</th>
      <th>Date_Recent</th>
      <th>Url</th>
      <th>Submit</th>
    </thead>
    <tbody>
      <tr *ngFor="let hero of displayUsers">
        <td>{{ hero.id }}</td>
        <td>
          {{ hero.name }}
        </td>
        <td>
          {{ hero.phone }}
        </td>
        <td>
          {{ hero.email }}
        </td>
        <td>
          {{ hero.company }}
        </td>
        <td>
          {{ hero.date_entry }}
        </td>
        <td>
          {{ hero.org_num }}
        </td>
        <td>
          {{ hero.address_1 }}
        </td>
        <td>
          {{ hero.city }}
        </td>
        <td>
          {{ hero.zip }}
        </td>
        <td>
          {{ hero.geo }}
        </td>
        <td>
          {{ hero.pan }}
        </td>
        <td>
          {{ hero.pin }}
        </td>
        <td>
          {{ hero.status }}
        </td>
        <td>
          {{ hero.fee }}
        </td>
        <td>
          {{ hero.guid }}
        </td>
        <td>
          {{ hero.date_exit }}
        </td>
        <td>
          {{ hero.date_first }}
        </td>
        <td>
          {{ hero.date_recent }}
        </td>
        <td>
          {{ hero.url }}
        </td>
        <td>
          <button (click)="onSave(hero)">Submit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <div class="footer">
    <button (click)="onPreviousPage()" class="previous">Previous</button>
  </div>
  <div class="footer">
    <button (click)="onNextPage()" class="next">Next</button>
  </div>
</div>
