<base href="/" />
<div>
  <a routerLink="/customview" routerLinkActive="active">Custom view</a>
</div>
<div>
  <a routerLink="/fullview" routerLinkActive="active">Full view</a>
</div>
<router-outlet></router-outlet>
