.tblHeader th {
  position: sticky;
  top: 0;
  background: teal;
}

.previous {
  float: left;
  background-color: teal;
}

.next {
  float: right;
  background-color: teal;
}

.container {
}

.footer {
  display: inline-block;
  padding: 10px 20px 10px 20px;
}
